.Hangman{
    color:yellow;
    font-family:'Audiowide', cursive;
 
 background-size: cover;
 
 background-image: url("../images/d41.gif");
 background-repeat: no-repeat;
}

h1{
text-align:center;
font-size: 288%;
}

h2{

    text-align: center;
    font-size: 228%
}
h3{
text-align: center;
font-size: 228%;

}
h4{

    text-align: center;
    font-size: 228%;
}